/* Initia box model set up*/

*{
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Section 1 is the base container of the first page*/

.section-1{
  margin-top: 0;
  height: 110vh;
  background: linear-gradient(110deg, #f2f2f2 45%, #ffcc00 45%);
}

/* Styling the header section */
.header{
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  padding-top: 20px;
}

.header p{
  margin-top: 22%;
  font-weight: bold;
  font-size: 40px;
}

.text-1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-2{
  color: #ffcc00;
}

.nav{
  display: flex;
  justify-content: center;
  margin-right: 35px;
  flex-wrap: nowrap;
  margin-left: 5%;
  width: 100%;
  margin-top: 40px;
}

/* styling links*/

.nav li{
  list-style: none;
  font-size: 20px;
  display: inline;
}


.nav a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 55px;

}

.nav a:hover{
  color: whitesmoke;
  background-color: grey;
}

.cart{
  margin-right: 60px;
  margin-top: 30px;
}
.cart .icon{
  color: black;
  font-size: 30px;
  display: block;
}

/* Page one content */

.container{
  margin-left: 20px;
  height: 100vh;
}

.row{
 align-content: center;
}

.column{
  width: 33.33%;
  float: left;
}

.row::after{
  clear: both;
  display: table;
}

.content-a{
  margin-left: 50px;
  margin-top: 25%;
}

.content-a h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content-a button{
  background-color: orange;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  width: 130px;
  height: 40px;
  margin-top:  60px;
  color: whitesmoke;
  text-align: center;
  margin-left: 30px;
  font-size: large;
}

.content-a button:hover{
  background-color: thistle;
  color: black;
  text-shadow: yellow;
}

.content-b img{
  width: auto;
  height: 90vh;
  margin-left: 60px;
}

/*Page 2 styling*/

.container-2{
  margin: 0;
  height: 100vh;
  background-color: wheat;
}

.column-1{
  width: 33.33%;
  float: left;
}

.invisible-cards{
  width: 90%;
  border: 1px solid rgb(109, 51, 121);
  padding: 90px;
  border-radius: 25px;
  text-align: center;
  margin-top: 20%;
  margin-left: 40px;
}

.invisible-cards-1{
  width: 90%;
  border: 1px solid rgb(109, 51, 121);
  padding: 90px;
  border-radius: 25px;
  text-align: center;
  margin-top: 18%;
  margin-left: 40px;
}

.invisible-cards-2{
  width: 90%;
  border: 1px solid rgb(109, 51, 121);
  padding: 90px;
  border-radius: 25px;
  text-align: center;
  margin-top: 20%;
  margin-left: 40px;
}

.card-image{
  margin-bottom: 20px;
}

.card-image h1{
  font-size: 70px;
  color: violet;
}


/* Styling for page 3*/


.header-1{
  text-align: center;
  margin-top: 120px;
}

.menu-1{
  color: orange;
}

.underline{
  width: 70px;
  display: inline-block;
  border-top: 4px solid violet;
}

.item-card{
  display: flex;
  flex-direction: column;
  max-height: auto;
  overflow: hidden;
  margin-left: 20px;
  background-color: wheat;
  max-width: 33.33%;
  justify-content: center;

}

.menu-container{
  width: 100%;
  margin-top: 30px;
  margin-left: 40px;
}

.menu-card{
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
  max-width: 320px;
  text-align: center;
  padding: 4px;
  border-radius: 20px;
  margin-left: 20px;
  overflow: hidden;
  position: absolute;
}

.menu-card img{
max-width: 100%;
margin-top: 0px;
height: 150px;
}

.menu-content{
  padding: 30px
}

.info{
  margin-bottom: 20px;
  margin-top: 20px;
}

.info h3{
  display: inline-block;
  margin-left: 5px;
  color: gray;
}
.info button{
  display: inline-block;
 margin-left: 180px;
 font-size: 30px;
 color: gray;
 background: honeydew;
 border-radius: 5px;
 padding: 2px;
 border: none;
 background-color: #E1EBE6;

}

.info-b{
  margin-bottom: 20px;
  margin-top: 20px;
}

.info-b h3{
  display: inline-block;
 margin-right: 60px;
}

.info-b p{
  display: inline-block;
  background: rosybrown;
  padding: 3px;
  border-radius: 5px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 15px;
}
.info-b span{
  display: inline-block;
  margin: 1px;
  padding: 5px;
  border-radius: 5px;
}
.info-b span:hover{
  background: seagreen;
  color: azure;
  cursor: progress;
}



/* designing the ribbon */

.ribbon{
  width: 160px;
  top: 0;
  right: -20px;
  position: absolute;
}

.ribbon span{
  width: 225px;
  background: orange;
  display: block;
  position: absolute;
  top: 30px;
  left: -15px;
  transform: rotate(45deg);
  text-align: center;
  color: whitesmoke;
}

.menu-card-1{
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
  max-width: 320px;
  text-align: center;
  padding: 4px;
  border-radius: 20px;
  margin-left: 20px;
  overflow: hidden;
}

.menu-card-1 img{
  max-width: 100%;
  height: 150px;
  }

/* Page 4 styling*/

.container-4{
  height: 90vh;
  margin: 0;
  padding: 10px 15px;
}
.pg4-content{
  margin-top: 30%;
  margin-left: 200px;
}


.pg4-content p{
  margin-top: 35px;
  margin-left: 3px;
  font-size: 15px;
  opacity: 0.5;
  font-weight: 200;
  font-family: monospace;
}
.big-deker{
  margin-top: 15px;
  color: orange;
}
.arrow{
  margin-top: 100px;
  margin-left: 20px;
}
.arrow .dot{
  display: inline-block;
  width: 10px;
  background-color: orangered;
  border-radius: 1px solid black;
  height: 10px;
  border-radius: 20px;
  margin-left: 10px;
}

.arrow .dot-1{
  display: inline-block;
  width: 10px;
  background-color: orangered;
  border-radius: 1px solid black;
  height: 10px;
  border-radius: 20px;
  margin-left: 10px; 
}














